{{define "nav.templ"}}
        <nav>
            <ul>
                <li><a href="/contacts/new" hx-boost="true">create</a></li>
                <li><a href="/read">read</a></li>
                <li><a href="/update">update</a></li>
                <li><a href="/delete">delete</a></li>
            </ul>
        </nav>
{{end}}
